<nav class="navbar">
  <div class="container flex justify-between items-center header-nav">
    <div class="brand">
      <h1 style="margin: 0; font-size: 1.8rem; cursor: pointer" routerLink="/">Ecommerce Ang</h1>
    </div>
    <ul class="nav-links">
      <li><a routerLink="/clientes" routerLinkActive="active">Clientes</a></li>
      <li><a routerLink="/produtos" routerLinkActive="active">Produtos</a></li>
      <li><a routerLink="/pedidos" routerLinkActive="active">Pedidos</a></li>
    </ul>
  </div>
</nav>

<main>
  <router-outlet></router-outlet>
</main>